  <body>
  <div class = "text-center w-100 h-100">
  <div class="d-flex p-3 flex-column">
    <app-principal></app-principal>


    <main role="main" class="inner cover pt-5">
      <img id="imagen" class="img-fluid" src="assets/img/logo.png">
      <h1 class="cover-heading">SMARTLIST</h1>
      <p class="lead">Crea y comparte tu lista de la compra inteligente con familiares o amigos,
        añade o quita productos de la lista manualmente o mediante su código  código QR. <br>
        Tambien podras ver ver el supermercado mas cercano y sus productos, si un producto
        no esta disponible se habilitará una opción para que te geolocalize el supermercado mas cercano.
      </p>
      <p class="lead">
        <a href="/registro" class="btn btn-lg btn-secondary">Unete a Smarlist</a>
      </p>
    </main>
  </div>
</div>
</body>
