<body>
    <app-lateral></app-lateral>

    <main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-md-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
      >
        <h1 class="h2">Crear Producto</h1>
      </div>

      <div class="d-flex w-100 mx-auto">
        <form (ngSubmit)="onSubmit()" class="form-signin">
          <input
            type="text"
            id="nombre_lista"
            class="form-control"
            placeholder="Nombre"
            required
            [(ngModel)]="producto.nombre"
            name="nombre_lista"
            autofocus
          />
          <br />
          <input
            type="text"
            id="descripcion"
            class="form-control"
            placeholder="Precio"
            required
            [(ngModel)]="producto.precio"
            name="descripcion"
            autofocus
          />
          <br />
          <input
          type="text"
          id="descripcion"
          class="form-control"
          placeholder="Cantidad"
          required
          [(ngModel)]="producto.cantidad"
          name="descripcion"
          autofocus
        />
        <br />

        <select id="cantidad" [(ngModel)]="producto.categoria" name="descripcion"required
        >
          <option value="1">Lacteos</option>
          <option value="2">Carne y pescado</option>
          <option value="3">Legumbres, Frutos Secos</option>
          <option value="4">Verduras y hortalizas</option>
          <option value="5">Frutas</option>
          <option value="6">Grasas y aceites</option>
          <option value="7">Cereales, derivados y dulces</option>
          <option value="8">Bebidas</option>

        </select>
        <br />
        <br />
          <button class="btn btn-lg btn-success btn-block" type="submit">
            Crear Producto
          </button>
        </form>
      </div>
    </main>
  </body>

