
<header class="masthead mb-0">
  <div class="inner">

    <nav class="navbar nav-masthead navbar-expand-lg navbar-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a id="inicioClick" class="nav-link text-white" href="/inicio">Inicio</a>
        <a id="loginClick" class="nav-link text-white" href="/login">Iniciar sesión</a>
        <a id="registroClick" class="nav-link text-white" href="/registro">Registro</a>
      </div>
    </nav>
  </div>
</header>
