<body>
  <app-lateral></app-lateral>

  <main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-md-4">
    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Cuenta</h1>
    </div>

    <br>

    <form (ngSubmit)="onSubmit()" class="form-signin w-50">

      <div id="fotoPerfil">
        <img src="../../../../assets/img/fotoDefault.jpg" class="img-thumbnail">
        <button class="btn btn-sm btn-primary btn-block">Subir foto</button>
      </div>

      <br>

      <input type="text" id="username" class="form-control" [(ngModel)]="usuario.username" required name="username"/>

      <br />
      <br />

      <input  type="text"  id="nom_apels" class="form-control" [(ngModel)]="usuario.nom_apels" required name="nom_apels"/>

      <br />
      <br />

      <button class="btn btn-lg btn-success btn-block" type="submit"> Actualizar datos </button>
    </form>

  </main>
</body>
