<body>
  <app-lateral></app-lateral>

  <main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-md-4">
    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
    >
      <h1 class="h2">Crear SmartList</h1>
    </div>

    <div class="d-flex w-100 mx-auto">
      <form (ngSubmit)="onSubmit()" class="form-signin">
        <input
          type="text"
          id="nombre_lista"
          class="form-control"
          placeholder="Nombre de la lista"
          required
          [(ngModel)]="lista.nombre_lista"
          name="nombre_lista"
          autofocus
        />
        <br />
        <input
          type="text"
          id="descripcion"
          class="form-control"
          placeholder="Descripción"
          required
          [(ngModel)]="lista.descripcion"
          name="descripcion"
          autofocus
        />
        <br />
        <button class="btn btn-lg btn-success btn-block" type="submit">
          Crear SmartList
        </button>
      </form>
    </div>
  </main>
</body>
