<div class="page-wrap d-flex flex-row align-items-center">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-5 text-center align-items-center">
              <div id="error" class="d-flex align-items-center">
                <span class="display-1 d-block">4</span>
                <img src="../../../assets/img/logo.png">
                <span class="display-1 d-block">4</span>
              </div>
              <div class="mb-4 lead">Error: Pagina no encontrada</div>
              <a href="/inicio" class="btn btn-link">Inicio</a>
          </div>
      </div>
  </div>
</div>
