<body>

<app-lateral></app-lateral>

<main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Ver productos</h1>
    <form class="form-inline my-2 my-lg-0">
      <input  class="form-control mr-sm-2" type="search" placeholder="Buscar producto" aria-label="Search" id="campoBusqueda">
      <button class="btn btn-light border border-dark my-2 my-sm-0" (click)="buscar()"><img id="lupa" src="../../../../assets/img/lupa.png"></button>
    </form>
  </div>

  <h6>Elegir SmartList: <select id="smartlists" class="btn btn-primary"  required>

    <option  *ngFor="let lista of arrayLista" value={{lista.codigo}}>{{lista.nombre_lista}} </option>

  </select></h6>
<br>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Codigo</th>
        <th scope="col">Nombre</th>
        <th scope="col">Categoria</th>
        <th scope="col">Cantidad</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor=" let producto of productos">
        <td *ngIf="producto.nombre.toLowerCase().split(' ').join('') == campoBusqueda || campoBusqueda == null">{{producto.cod_producto}}</td>
        <td *ngIf="producto.nombre.toLowerCase().split(' ').join('') == campoBusqueda || campoBusqueda == null">{{producto.nombre}}</td>
        <td *ngIf="producto.nombre.toLowerCase().split(' ').join('') == campoBusqueda || campoBusqueda == null">{{producto.categoria}}</td>
        <td *ngIf="producto.nombre.toLowerCase().split(' ').join('') == campoBusqueda || campoBusqueda == null">{{producto.cantidad}}</td>


        <td *ngIf="producto.nombre.toLowerCase().split(' ').join('') == campoBusqueda || campoBusqueda == null"><button class="btn btn-primary" (click)="agregarProductoSmartList(producto.nombre)" type="button">Agregar a SmartList</button></td>

        <td  *ngIf="producto.nombre.toLowerCase().split(' ').join('') == campoBusqueda || campoBusqueda == null"><button class="btn btn-success" id="editar" type="button">Editar producto</button></td>
        <td  *ngIf="producto.nombre.toLowerCase().split(' ').join('') == campoBusqueda || campoBusqueda == null"><button class="btn btn-danger" id="eliminar" type="button">Eliminar producto</button></td>

      </tr>

    </tbody>
  </table>
</main>
</body>
