<body>
  <app-lateral></app-lateral>
  <main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-md-4">
    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
    >
      <h1 class="h2">Mis SmartList</h1>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscador" aria-label="Search">
        <button class="btn btn-light border border-dark my-2 my-sm-0" type="submit"><img id="lupa" src="../../../../assets/img/lupa.png"></button>
      </form>
    </div>

    <div *ngFor="let lista of arrayLista">
      <div class="card align-items-start mr-2 mb-2 " style="width: 15rem; float: left">
        <div class="card-body">
          <img id="iconoLista" src="../../../../assets/img/lista.png">
          <h5 class="card-title">{{ lista.nombre_lista }}</h5>
          <p class="card-text">{{ lista.descripcion }}</p>
          <button (click)="listaDetail(lista.codigo)" class="btn btn-primary">Abrir</button>
          &nbsp;
          <button (click)="deleteLista(lista.codigo)" class="btn btn-danger">Eliminar</button>
        </div>
      </div>
    </div>

  </main>
</body>
